<div >
    
   <div id="addpostit">ADD</div>
    <section id="postitPlaceholder" >
        
    </section>
</div>
    
<script type="text/template" id="postitTemplate">
    <div class='postit'>
        Subject: {0} <br />
        By: {1} <br />
        On: {2} <br />
        {3} <br />
        <div class="delete" data-key="{4}" />
    </div>
</script>

<script>
    $(function () {
        String.prototype.format = function () {
            var args = arguments;
            return this.replace(/{(\d+)}/g, function (match, number) {
                return typeof args[number] != 'undefined'
                  ? args[number]
                  : match
                ;
            });
        };

        var onDelete = function (id, onSuccess, onError) {
            $.ajax({
                url: 'api/values/' + id,
                type: 'DELETE',
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            });
        };

        var add = function (data, onSuccess, onError) {
            $.ajax({
                url: 'api/values/',
                type: 'PUT',
                data: JSON.stringify(data),
                contentType: "application/json;charset=utf-8",
                success: onSuccess,
                error: onError
            });

        };

        $('#addpostit').click(function (event) {
            event.preventDefault();
            add({ 'CreatedOn': new Date(), 'Content': 'test', 'Subject': 'subject', 'DisplayData': {'X': 200, 'Y': 200}},
                function (e) { },
                function (e) { }
                );
        });


        $.getJSON("api/values", function (data) {
            var template = $("#postitTemplate").html()

            $.each(data, function (index, val) {
                var element = $(template.format(val.Subject, val.User, val.CreatedOn, val.Content, val.Id));
                $("#postitPlaceholder").append(element);
                element.offset({ top: val.DisplayData.Y, left: val.DisplayData.X });
                var deleteElement = $('.delete', element);

                deleteElement.click(function (event) {
                    event.preventDefault();
                    onDelete(val.Id,
                        function (data) {
                            element.fadeOut('quick', function() {
                                element.remove();
                             });
                            
                        },
                        function (x, y, z) {

                        });
                });
            });

            $(".postit").draggable();
        });
    });

</script>