<div >
    
   <div id="addpostit">
       <label>Subject</label><input id="subject" type="text" /> <br />
       <label>Content</label><input id="content" type="text" /><br />
       <button id="addpostitbutton">Create</button>
   </div>
   
</div>
    
<script type="text/template" id="postitTemplate">
    <div class='postit' id="postit{4}" >
        Subject: {0} <br />
        {3} <br />
        <div class="delete" data-key="{4}"></div>
    </div>
</script>

<script>
    $(function () {
        String.prototype.format = function () {
            var args = arguments;
            return this.replace(/{(\d+)}/g, function (match, number) {
                return typeof args[number] != 'undefined'
                  ? args[number]
                  : match
                ;
            });
        };

        var route = "api/PostIt/";

        $("#addpostit").draggable();

        var requestSave = function (id, data, onSuccess, onError) {
            $.ajax({
                url: route + id,
                type: 'PUT',
                data: JSON.stringify(data),
                contentType: "application/json;charset=utf-8",
                success: function (e) { console.log('Success : ' + e); onSuccess(e); },
                error: function (x, y, z) { console.log('Error on : ' + x + ' ' + y + ' ' + z); onError(x, y, z); }
            });
        };

        var requestDelete = function (id, onSuccess, onError) {
            $.ajax({
                url: route + id,
                type: 'DELETE',
                contentType: "application/json;charset=utf-8",
                success: function (e) { console.log('Success : ' + e); onSuccess(e); },
                error: function (x, y, z) { console.log('Error on : ' + x + ' ' + y + ' ' + z); onError(x, y, z); }
            });
        };

        var requestAdd = function (data, onSuccess, onError) {
            $.ajax({
                url: route,
                type: 'POST',
                data: JSON.stringify(data),
                contentType: "application/json;charset=utf-8",
                success: function (e) { console.log('Success : ' + e); onSuccess(e); },
                error: function (x, y, z) { console.log('Error on : ' + x + ' ' + y + ' ' + z); onError(x, y, z); }
            });

        };

        $('#addpostitbutton').click(function (event) {
            var content = $('#content').val();
            var subject = $('#subject').val();
            event.preventDefault();
            requestAdd({ 'Content': content, 'Subject': subject, 'CreatedOn': new Date(), 'DisplayData': { 'X': event.offsetX, 'Y': event.offsetY } },
                function (e) {
                    var template = $("#postitTemplate").html();
                    addPostit(template, e);
                },
                function (e) { }
                );
        });

        var addPostItElement = function (template, val) {
            var element = $(template.format(val.Subject, val.User, val.CreatedOn, val.Content, val.Id));
            $("body").append(element);
            element.offset({ top: val.DisplayData.Y, left: val.DisplayData.X, });
            if (val.DisplayData.Height !== undefined && val.DisplayData.Width !== undefined)
                element.height(val.DisplayData.Height).width(val.DisplayData.Width);
            return element;
        };

        var addPostit = function (template, val) {
            var element = addPostItElement(template, val);
            jQuery.data(element[0], 'data', val);
            var deleteElement = $('.delete', element);

            deleteElement.click(function (event) {
                event.preventDefault();
                requestDelete(val.Id,
                    function (data) {
                        element.fadeOut('quick', function () {
                            element.remove();
                        });

                    },
                    function (x, y, z) {

                    });
            });

            element.draggable({
                stop: function (event, ui) {

                    var data = jQuery.data(ui.helper[0], 'data');

                    var offset = ui.offset;
                    data.DisplayData = { 'X': offset.left, 'Y': offset.top };
                    requestSave(data.Id, data, function () { }, function () {
                        alert("Something went wrong on dragging");
                    });
                }
            }).resizable({
                stop: function (event, ui) {

                    var data = jQuery.data(ui.helper[0], 'data');
                    var offset = ui.offset;
                    data.DisplayData.Width = ui.size.width;
                    data.DisplayData.Height = ui.size.height;
                    requestSave(data.Id, data, function () { }, function () {
                        alert("Something went wrong on resize");
                    });
                }
            });
        };

        $.getJSON(route, function (data) {
            var template = $("#postitTemplate").html();
           
            $.each(data, function (index, postitData) {
                addPostit(template, postitData);
            });
        });
    });

</script>